PORT=3000
MONGODB_URI=mongodb+srv://unicatolica:e5Els1aMlQz5oUSh@cluster0.p9prru2.mongodb.net/carnet_digital?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_EXPIRES_IN=24h
NODE_ENV=development