# Dependencias
node_modules/
backend/node_modules/
mobile/node_modules/

# Variables de entorno (Secretos)
.env
backend/.env

# Expo / React Native
.expo/
dist/
web-build/

# Otros
.DS_Store

firebase-service-account.json
